.bg-lightgreen {
    background-color: $lightgreen;
}

.bg-darkgreen {
    background-color: $darkgreen;
}

.has-sunflower-background-image {
    border-radius: 0.5rem;
    background: url("assets/img/sunflower.svg");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 200px;
    background-position-x: calc(100% + 100px);
    background-position-y: -100px;
}

@each $name, $code in $custom-colors {
    .has-#{$name}-color {
        color: $code !important;
    }

    .has-#{$name}-background-color {
        background-color: $code !important;
    }

    .has-#{$name}-hover-background-color:hover {
        background-color: $code !important;
    }
}
