.social-media-profile {
    width: 40px;
    height: 40px;
    display: flex;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
    background: $white;
    border-radius: 50%;
    margin: 3px;
    text-decoration: none;

    i {
        color: $white;

    }
}

.site-footer {

    background-color: $darkgreen;
    color: $white;
    padding: 50px 0;

    .social-media-profile {

        i {
            color: $black;
        }
    }

    .navbar-nav {
        flex-wrap: wrap;

        .nav-link {
            padding-left: 0;
        }
    }

    a {
        color: $white;

        &:hover {
            color: $primary;
        }
    }

    hr {
        opacity: 0.6;
    }
}

.site-info {
    color: $white-90;

    a {
        color: $white-90;
    }

    .menu-container {
        display: flex;
        justify-content: space-between;

        .menu {
            display: flex;
            justify-content: center;

            .menu-title {
                @include media-breakpoint-down(md) {
                    text-align: center;
                }
            }

            @include media-breakpoint-down(md) {
                margin-bottom: 1em;
            }
        }
    }

    .social-media-profile {
        background: transparent;
        font-size: xx-large;

        i {
            color: $white;
        }
    }

    nav {
        ul {
            margin: 0;
            padding: 0;

            .menu-item {
                list-style: none;

                @include media-breakpoint-down(md) {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }

    .menu-bottom {
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    .logo {
        max-width: 200px;

        @include media-breakpoint-down(lg) {
            align-self: center;
            margin-top: 1em;
        }
    }
}
