.wp-block-button__link {
    background-color: var(--wp--preset--color--tanne);
    color: $white;
    font-size: 1rem;
    border-radius: 3px;
    transition: $button-hover-transition;

    @include themed() {
        font-family: t("standardFont");
    }

    &:hover {
        background-color: $secondary;
        box-shadow: $button-hover-box-shadow;
        transform: $button-hover-transform;
    }

    &:hover,
    &:visited {
        color: $white;
    }
}
