.styled-layout {

    .wp-block-cover {

        .wp-block-cover__inner-container {
            max-width: 1155px;
        }
    }
}

.wp-block-column {

    .wp-block-cover {
        overflow: hidden;
        border-radius: $border-radius;
    }
}
