.wp-block-image {
    margin-bottom: 0;
    border-radius: $border-radius;
    background: transparent;

    &, figure {
        position: relative;
    }

    &.opacity-0 {
        a {
            &:before {
                opacity: 0;
            }
        }
    }
    &.opacity-10 {
        a {
            &:before {
                opacity: 0.1;
            }
        }
    }
    &.opacity-20 {
        a {
            &:before {
                opacity: 0.2;
            }
        }
    }
    &.opacity-30 {
        a {
            &:before {
                opacity: 0.3;
            }
        }
    }
    &.opacity-40 {
        a {
            &:before {
                opacity: 0.4;
            }
        }
    }
    &.opacity-50 {
        a {
            &:before {
                opacity: 0.5;
            }
        }
    }
    &.opacity-60 {
        a {
            &:before {
                opacity: 0.6;
            }
        }
    }
    &.opacity-70 {
        a {
            &:before {
                opacity: 0.7;
            }
        }
    }
    &.opacity-80 {
        a {
            &:before {
                opacity: 0.8;
            }
        }
    }
    &.opacity-90 {
        a {
            &:before {
                opacity: 0.9;
            }
        }
    }

    &:not(.is-style-rounded) {

        img {
            border-radius: $border-radius;
        }
    }

    a {
        display: block;
        outline: 0;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $black;
            opacity: 0;
            border-radius: $border-radius;
        }

        &:after {
            content: "";
            position: absolute;
            font-size: $font-size-xlarge;
            right: 1em;
            bottom: 1em;
            width: 32px;
            height: 20px;
            background-color: $white;
            -webkit-mask-image: url("assets/img/arrow-right.svg");
            mask-image: url("assets/img/arrow-right.svg");
        }
    }

    figcaption {
        position: absolute;
        margin: 0;
        left: 1em;
        bottom: 1em;
        max-width: 70%;

        color: $white;
        font-size: $font-size-xlarge;
        font-family: GrueneType;
        background: none;

        pointer-events: none;
    }

    @include media-breakpoint-down(lg) {
        figcaption {
            font-size: $font-size-large;
        }
    }
}

.compact-images {
    figcaption {
        font-size: $font-size-large;
    }
}

.wp-block-image {
    transition: 0.1s linear;
    transform: translateY(0);

    &:hover {
        box-shadow: 0 1px 20px rgba(0, 84, 55, 0.5);
        transform: translateY(-0.2rem);
    }
}

figure.wp-block-image, .wp-block-image > figure {
    box-shadow: none;
    border-radius: $border-radius;

    &:hover {
        box-shadow: 0 1px 20px rgba(0, 84, 55, 0.5);
    }
}

figure.wp-block-image.has-shadow {
    transition: 0.1s linear;
    transform: translateY(0);

    box-shadow: 0 1px 20px rgba(0, 84, 55, 0.5);
    border-radius: $border-radius;

    &:hover {
        box-shadow: 0 1px 20px rgba(0, 84, 55, 0.5);
        transform: translateY(0);
    }
}

// "bullet-caption" is a special class for images in galleries that only show
// a number, like for candidates on a list.
.bullet-caption {
    &.wp-block-image {
        figcaption {
            width: 1.5em;
            height: 1.5em;
            left: 0.5em;
            bottom: 0.5em;

            line-height: 1.5;
            border-radius: 50%;
            font-size: 2em;
            text-align: center;

            background-color: var(--wp--preset--color--tanne);
            color: $white;

            // &:before {
            //     content: "";
            //     width: 100%;
            //     height: 100%;
            //     background-color: map-get($custom-colors, "sonne");
            //     transform: skew(20deg);
            // }
        }
    }
}
