body.layout-mannheim {
    .has-sunflower-background-image {
        border-radius: 0.5rem;
        background: url("assets/img/sunflower.svg");
        background-repeat: no-repeat;
        background-origin: border-box;
        background-size: 200px;
        background-position-x: calc(100% + 100px);
        background-position-y: -100px;
    }
}
