body.layout-mannheim {

    .wp-block-image {
        overflow: hidden;
        border-radius: 0;
        position: relative;

        a {
            overflow: hidden;
        }


        img {
            border-radius: 0;
            transform: scale(1.0);
            transition: transform 0.5s cubic-bezier(.4,0,.2,1);
        }

        &:hover {

            img {
                transform: scale(1.05);
            }
        }

        .wp-element-caption {
            position: absolute;
            bottom: 0;
            left: 20px;
            font-size: 30px;
            color: $white;
            text-align: left;
            pointer-events: none;

            @include themed() {
                font-family: t(headingFont);
            }


            &::before {
                content: "";
                mask-image: url("assets/img/icon-article.svg");
                width: 20px;
                height: 20px;
                display: block;
                background-color: $white;
            }
        }

        &.no-icon {

            .wp-element-caption {

                &::before {
                    content: unset;
                }
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    body.layout-mannheim {

        .wp-block-image {

            .wp-element-caption {
                font-size: 15px;

                &::before {
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }
}
